spring:
  r2dbc:
    url: r2dbc:mysql://mysql.infra-dev.svc.cluster.local:3306/waiting
    password: root_password
    username: root
  application:
    name: waiting-service
  kafka:
    client-id: payments
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: true
      group-id: waiting-service
    bootstrap-servers: kafka.infra-dev.svc.cluster.local:9092
    listener:
      concurrency: 1
      missing-topics-fatal: true
  data:
    redis:
      cluster:
        nodes:
          - redis-cluster-0.redis-cluster.infra-dev.svc.cluster.local:6379
          - redis-cluster-1.redis-cluster.infra-dev.svc.cluster.local:6379
          - redis-cluster-2.redis-cluster.infra-dev.svc.cluster.local:6379
          - redis-cluster-3.redis-cluster.infra-dev.svc.cluster.local:6379
          - redis-cluster-4.redis-cluster.infra-dev.svc.cluster.local:6379
          - redis-cluster-5.redis-cluster.infra-dev.svc.cluster.local:6379
redis-cluster:
  infra-dev:
    svc:
      cluster:
        local:6379:
server:
  port: 8081
  tomcat:
    mbeanregistry:
      enabled: true
logging:
  level:
    web: debug
secret: "waitinggnitiawwaitinggnitiawwaitinggnitiawwaitinggnitiaw"

alert:
  reactive: true
  bridge: kafka
  topics: "test-queue"

management:
  tracing:
    propagation:
      type: w3c
    enabled: true
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  metrics:
    tags:
      application: ${spring.application.name}