apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: dev-waiting-service

resources:
  - ../../infra/base

namespace: dev

labels:
  - pairs:
      env: dev
    includeSelectors: true
    includeTemplates: true

namePrefix: dev-

patches:
  - target:
      kind: Deployment
      name: waiting-service
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Ingress
      name: waiting-service-ingress
    patch: |
      - op: add
        path: /spec/rules/0/host
        value: dev.example.com