stream_over_http_enabled: true
server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

storage:
  trace:
    backend: gcs
    gcs:
      bucket_name: waiting_tempo
    wal:
      path: /var/lib/tempo/wal