apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: stg-waiting-service

resources:
  - ../../base/app

namespace: infra-stg

labels:
  - pairs:
      env: stg

configMapGenerator:
  - name: waiting-service-env
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=stg
      - LOGGING_LEVEL_COM_ALERT=WARN
      - MANAGEMENT_TRACING_SAMPLING_PROBABILITY=0.5

secretGenerator:
  - name: db-pass
    behavior: merge
    literals:
      - password=stg-password

patches:
  - target:
      kind: Deployment
      name: waiting-service
    patch: |
      - op: replace
        path: /spec/replicas
        value: 3

